<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="development.master.com.pervasivecomponents">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HomeActivity"
            android:label="@string/home_acitivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AccelerometerActivity"
            android:screenOrientation="portrait"
            android:label="@string/accelerometer_activity"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".activities.AmbientTemperatureActivity"
            android:label="@string/ambient_temperature_activity"
            android:launchMode="singleInstance" >
        </activity>
        <!--<activity-->
            <!--android:name=".activities.GravityActivity"-->
            <!--android:label="@string/gravity_activity"-->
            <!--android:launchMode="singleInstance" >-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".activities.GyroscopeActivity"-->
            <!--android:label="@string/gyroscope_activity"-->
            <!--android:launchMode="singleInstance" >-->
        <!--</activity>-->
        <activity
            android:name=".activities.LightActivity"
            android:label="@string/light_activity"
            android:launchMode="singleInstance" >
        </activity>
        <!--<activity-->
        <!--android:name=".activities.LinearAccelerationActivity"-->
        <!--android:label="@string/linear_acceleration_activity"-->
        <!--android:launchMode="singleInstance" >-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name=".activities.MagneticFieldActivity"-->
        <!--android:label="@string/magnetic_field_activity"-->
        <!--android:launchMode="singleInstance" >-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name=".activities.OrientationActivity"-->
        <!--android:label="@string/orientation_activity"-->
        <!--android:launchMode="singleInstance" >-->
        <!--</activity>-->
        <activity
        android:name=".activities.PressureActivity"
        android:label="@string/pressure_activity"
        android:launchMode="singleInstance" >
        </activity>
        <!--<activity-->
            <!--android:name=".activities.ProximityActivity"-->
            <!--android:label="@string/proximity_activity"-->
            <!--android:launchMode="singleInstance" >-->
        <!--</activity>-->
        <activity
        android:name=".activities.RelativeHumidityActivity"
        android:label="@string/relative_humidity_activity"
        android:launchMode="singleInstance" >
        </activity>
        <!--<activity-->
            <!--android:name=".activities.RotationVectorActivity"-->
            <!--android:label="@string/rotation_vector_activity"-->
            <!--android:launchMode="singleInstance" >-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".activities.TemperatureActivity"-->
            <!--android:label="@string/temperature_activity"-->
            <!--android:launchMode="singleInstance" >-->
        <!--</activity>-->

    </application>

</manifest>
